/* Home page styles */

.landingPage__wrapper {
  width: 88%;
  margin: 0 auto;
  font-family: "Libre Franklin", sans-serif;
  position: relative;
  & h4 {
    margin-bottom: 0;
  }
}

.landingPage__primary {
  border: 4px solid $teal-d15;
  position: relative;
  animation: slideDown .7s;
  text-align: center;
  will-change: transform;
  margin-top: 5em;
  padding: .5em;
  @include round-corners;
  color: $teal-d15;
}

.landingPage__primary span {
  font-size: .3em;
}

.landingPage__secondary {
  position: relative;
  margin-top: 5em;
  animation: slideUp .7s;
  @include round-corners;
  @include bg-gradient-teal;
  @include box-shadow-only;
}

.main-nav {
  animation: slideDown 1.2s;
  will-change: transform;
}


/* Responsive */
@media only screen and (min-width: 521px) {
  .landingPage__wrapper {
    max-width: 800px;
  }
  .landingPage__primary {
    margin-top: 2.5rem;
    font-size: 2rem;
    & h1 {
      margin-bottom: .5rem;
    }
    & h3 {
      margin-bottom: .5rem;
    }
    & h1 span {
      font-size: 1rem;
    }
  }
}