/*apply a natural box layout model to all
elements, but allowing components to change*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body div {
  margin: 0px;
  padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}
img {
  max-width: 100%;
  height: auto;
}

