$bg-color-dark: rgba(23, 53, 73, 1);
$bg-color-light: rgba(42, 119, 167, 1);

$teal: #00b49f;
$teal-10: #00f1cf;
$teal-d15: #006b5c;
$teal-d10: #008774;
$teal-d30: #001b18;

$neutral-f7: #f7f7f7;
$neutral-s15: #f8f6f6;

$orangy: #ffa100;
$orangy-d5: #e69100;
$orangy-d10: #cc8100;
$orangy-l5: #ffaa1a;
$orangy-l15: #ffbd4d;