.footer {
  width: 88%;
  margin: 5em auto 1em;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $teal-d30;
  font-family: "Libre Franklin", sans-serif;
}

// .menu-links {
//   width: 100%;
//   display: inline-block;
//   display: flex;
//   justify-content: space-between;
//   padding-bottom: 1em;
//   border: 1px solid #bbb;
//   & a {
//     text-decoration: none;
//   }
// }