.social-icons {
  width: 88%;
  margin: 2em auto;
  display: flex;
  flex: 1;
  justify-content: space-between;
  & div {
    padding: 1em 0;
  }
  & a {
    position: relative;
    color: $orangy-l5;
    transition: position .45s, color .2s;
    &:hover {
      top: -.3em;
      color: $orangy-l15;
    }
  }
  & i {
    font-size: 2em;
    // color: $orangy;
  }
}


/* Responsive */
@media only screen and (min-width: 550px) {
  .social-icons i {
    font-size: 3em;
  }
}